.Story {
  display: flex;
  min-width: 49%;
  max-width: 49%;
  height: 250px;
  border: 2px solid ghostwhite;
  margin-top: 20px;
}

.Story img {
  width: 175px;
}

.story-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 15px;
}

.story-info h3 {
  letter-spacing: 1px;
  margin: 5px;
}

.story-info p {
  font-weight: lighter;
  line-height: 150%;
  margin: 0;
}

.story-info-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-author-info {
  display: flex;
  align-items: center;
}

.story-author-image {
  max-width: 35px;
  height: 35px;
  border-radius: 50px;
}

.story-author-text h4 {
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 0 10px;
}
